@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA Query Manager

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { // 600px
            @content
        }
    }

    @else if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { // 900px
            @content
        }
    }

    @else if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { // 1200px
            @content
        }
    }

    @else if $breakpoint == big-desktop {
        @media only screen and (max-width: 125em) { //  2000px
            @content
        }
    }
}

@mixin checkHover() {
    @media only screen and (hover: hover) {
        @content
    }
}