.events-box {
    font-family: 'Muli', sans-serif;
    text-align: center;
    width: 100%;
    height: 25rem;
    border-radius: .5rem;
    box-shadow: 0 5px 10px rgb(29, 28, 28);
    color: white;
    z-index: 1;
    transition: all .4s ease-in-out;
    color: rgb(216, 208, 208);

    & h3 {
        transform: translateY(200%);
        font-size: 2.5rem;
        letter-spacing: 3px;
        margin-top: 1.7rem;

        @include respond(phone) {
            transform: translateY(110%);
        }
    }

    & p {
        display: none;
        letter-spacing: 2px;
        line-height: 27px;
        text-align: center;

        @include respond(phone) {
            transform: translateY(100%);
        }
    }

    &__img--1 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-7.png') no-repeat center;
        background-size: cover;
    }

    &__img--2 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-4.png') no-repeat center;
        background-size: cover;
    }

    &__img--3 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-5.png') no-repeat center;
        background-size: cover;
    }

    &__img--4 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-6.png') no-repeat center;
        background-size: cover;
    }

    &__img--5 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-7.png') no-repeat center;
        background-size: cover;
    }

    &__img--6 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-8.png') no-repeat center;
        background-size: cover;
    }

    &__img--7 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-5.png') no-repeat center;
        background-size: cover;
    }

    &__img--8 {
        background: linear-gradient( to right bottom, rgba($color-black,.8), rgba($color-black,.8)), url('../../img/interface-6.png') no-repeat center;
        background-size: cover;
    }

    &:hover {
        transform: scale(1.2);
        color: rgb(226, 222, 222);
        box-shadow: 0 5px 7px rgb(0, 0, 0);
        font-weight: bolder;

        @include respond(phone) {
            transform: scale(1);
        }
    }

    &:hover h3 {
        transform: translateY(0%);
    }

    &:hover p {
        display: block;
    }

    &__img--1:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--2:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--3:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--4:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--5:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--6:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--7:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }

    &__img--8:hover {
        background-image: linear-gradient( to right bottom, rgba($color-black,1), rgba($color-black,1));
    }
}
