*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px
    @include respond(tab-land) {
        font-size: 56.25%; // 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 8px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 12px
    }
}

body {
    box-sizing: border-box;
    padding: 1rem;
    
    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}