.section-about {
    background-color: $color-grey-light-1;
    padding: 5rem 0;
    
    @include respond(tab-port) {
    }
}

.section-events {
    padding: 5rem 0;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light,0.8), rgba($color-grey-light-1,0.8)), url(../img/interface-2.png);
    background-size: cover;
    background-position: center;

    @include respond(tab-port) {
        padding: 10rem;
    }

    @include respond(phone) {
        padding: 0rem;
        clip-path: none;
        margin-top: 0rem;
        padding-bottom: 6rem;
    }

    & > * {
    }

    & > .row {
        padding: 3rem;

        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 0rem;
            margin-bottom: 4rem;
        }

        @include respond(phone) {
            padding: 1rem;
            padding-bottom: 0rem;

            &:not(:first-child) {
                padding-top: 0rem;
            }
        }
    }

    &__row--1 {
        @include respond(tab-port) {
            margin-top: 25rem;
            margin-bottom: 0rem !important;
        }

        @include respond(phone) {
            margin-top: 1rem;
        }
    }

    &__row--2 {
        @include respond(tab-port) {
            margin-bottom: 25rem;
        }

        @include respond(phone) {
            padding-bottom: 4.33rem !important;
            margin-bottom: 0rem !important;
        }
    }

    .row &__col {
        width: calc((100% - 10 * 6rem) / 3);
    }
}

