.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
    }
}

.section-events {
    padding: 20rem 0;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light,0.8), rgba($color-grey-light-1,0.8)), url(../img/interface-2.png);
    background-size: cover;
    background-position: center;
    margin-top: -10rem;
    clip-path: polygon(50% 10%, 80% 5%, 100% 0, 100% 100%, 80% 95%, 50% 90%, 20% 95%, 0 100%, 0 0, 20% 5%);

    @include respond(tab-port) {
        padding: 10rem;
    }

    @include respond(phone) {
        padding: 0rem;
        clip-path: none;
        margin-top: -40rem;
    }

    & > * {
    }

    & > .row {
        padding: 3rem;

        @include respond(phone) {
            padding: 1rem;
        }
    }

    &__row--1 {
        @include respond(tab-port) {
            margin-top: 25rem;
            margin-bottom: 0rem !important;
        }
    }

    &__row--2 {
        @include respond(tab-port) {
            margin-bottom: 25rem;
        }

        @include respond(phone) {
            padding-bottom: 4.33rem !important;
            margin-bottom: 5rem !important;
        }
    }
}

